<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/images/logo.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>KITA Palanca Website</title>
</head>
<body>
    <h1>Welcome to the Palancas KITA!</h1>
    <h2>Rekoleksi Prapaskah 2024</h2>

    <% if (submissionConfirmed) { %>
        <p>Thank you udah mengisi surat Palancanya, God bless!</p>
        <h2>Yok isi punya teman lain!</h2>

        <div class="name-list">
            <% passwordList.forEach(name => { %>
                <a href="/<%= name %>"><%= name %></a><br>
            <% }) %>
        </div>
    <% } else { %>
        <form action="/submit-letter" method="post">
            <label for="senderName">Nama kamu:</label>
            <input type="text" id="senderName" name="senderName" required>
            
            <label for="recipientName">Nama Penerima:</label>
            <input type="text" id="recipientName" name="recipientName" <% if (!isEditable) { %> readonly <% } %> value="<%= dynamicRecipientName %>" required>
            
            <label for="letter">Tulis Suratmu disini:</label>
            <textarea id="letter" name="letter" rows="4" required></textarea>
            
            <button type="submit">Submit Letter</button>
        </form>
        <h2>Yok isi punya teman lain!</h2>
        <div class="name-list">
            <% passwordList.forEach(name => { %>
                <a href="/<%= name %>"><%= name %></a><br>
            <% }) %>
        </div>
   
    <% } %>
</body>
</html>
